.Signin {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 70% 30%;
}

.signin-upper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.signin-button {
  width: 100%;
  padding: 17px 20px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #0b022d;
  color: white;
  cursor: pointer;
  line-height: 1rem;
  font-weight: 600;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: all 0.2s;
  margin: 10px auto;
}

.signin-button:hover {
  background-color: rgba(18, 24, 38, 0.9);
  transition: all 0.2s;
}

.signin-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.signin-group > a {
  color: #0b022d;
}

.signin-group > .forgot-password {
  color: #0b022d;
  font-weight: 400;
  cursor: pointer;
}

.signin-group > .forgot-password:hover {
  color: rgb(18, 24, 38, 0.8);
  text-decoration: underline;
  font-weight: 400;
}

.signin-group > a:hover {
  color: rgb(18, 24, 38, 0.8);
  text-decoration: underline;
}

.or-divider {
  display: flex;
  align-items: center;
  margin: 20px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #aaa;
}

.or-text {
  margin: 0 10px;
  font-weight: bold;
  color: #555;
}

.oauth-groups {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.oauth-button {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  line-height: 1rem;
}
.google-button {
  background-color: #ff4d4d;
}
.google-button:hover {
  background-color: #ff6666;
}
.facebook-button {
  background-color: #1877f2;
}
.facebook-button:hover {
  background-color: #3b5ba2;
}
.github-button {
  background-color: #333333;
}
.github-button:hover {
  background-color: #555555;
}
.discord-button {
  background-color: #7289da;
}
.discord-button:hover {
  background-color: #99aab5;
}
