body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Shared css */
.shared-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.shared-form-control {
  padding: 5px 20px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #0b022d;
  font-size: 16px;
  outline: none;
  font-weight: 600;
  color: #0b022d;
  margin: 10px 0px;
}

.shared-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.shared-form-group > input:focus {
  box-shadow: none;
  border: 2px solid rgba(18, 24, 38, 0.2);
}

.shared-button {
  padding: 17px 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #0b022d;
  color: white;
  cursor: pointer;
  line-height: 1rem;
  font-weight: 600;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: all 0.2s;
  margin: 10px auto;
}

.shared-form {
  width: 80%;
}

.shared-button:hover {
  background-color: rgba(18, 24, 38, 0.9);
  transition: all 0.2s;
}

.shared-title {
  font-size: 2rem;
  font-weight: 600;
  color: #0b022d;
  margin-bottom: 20px;
}

.back {
  width: 80%;
  margin-bottom: 20px;
}

.back > a {
  color: #0b022d;
}
.back > a:hover {
  color: rgb(18, 24, 38, 0.8);
  text-decoration: none;
}
.back > a > span {
  color: rgb(18, 24, 38, 0.8);
  margin-left: 10px;
}
