.NotFoundPage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  color: rgb(111, 111, 111);
  padding: 15px;
  margin-left: 15px;
  border-left: 1px solid rgb(140, 140, 140);
}
.NotFoundMessage {
  display: flex;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
}
