.Home-Simulation {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  background: rgb(0, 145, 175);
  background: linear-gradient(
    90deg,
    rgba(0, 145, 175, 1) 0%,
    rgba(11, 2, 45, 1) 50%,
    rgba(3, 0, 50, 1) 100%
  );
}

.Home-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home-left-container {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.User-info {
  background-color: white;
  border-radius: 10px;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  opacity: 0.8;
  color: rgba(11, 2, 45, 1);
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  display: grid;
  grid-template-rows: 30% 70%;
}
.User-info > .Title {
  font-size: 24px;
}

.User-info > .group-info > .user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 60px;
}

.User-info > .group-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Booking {
  background-color: white;
  border-radius: 10px;
  padding: 10px 30px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: 20% 20% 30% 20%;
  align-items: center;
  opacity: 0.8;
  color: rgba(11, 2, 45, 1);
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}

.Booking > .Title {
  font-size: 24px;
}

.Booking > .button-group {
  display: grid;
  grid-template-columns: 40% 60%;
}

.Booking > .button-group > button {
  width: 90%;
}
