.root-layout {
  width: 100%;
  height: 100%;
  display: flex;
}

@media only screen and (max-width: 1199px) {
  .root-layout {
    display: none;
  }
}

.left-container {
  background: #0b022d;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  height: 100%; /* Set the height of the container to 100% of the viewport height */
  overflow: hidden; /* Add scrolling if content overflows */
  border-radius: 0px 10px 10px 0px;
}

.right-container {
  background: white;
  width: 80%;
  flex: 1;
  box-sizing: border-box;
  height: 100%; /* Set the height of the container to 100% of the viewport height */
  overflow: auto; /* Add scrolling if content overflows */
}

/* LOGO */
.logo {
  width: 60%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

/* PAGE COMPONENT */

.page-component {
  padding: 0.5rem;
  margin-bottom: 5px;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.page-component:hover {
  background-color: #f1f1f131;
  cursor: pointer;
}

.page-component > img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
/* AVATAR */
.avatar {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

/* DEVELOPER INFO */
.developer-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 50%;
  align-items: center;
  line-height: 1.5rem;
  font-size: 0.875rem;
  /* text-align: center; */
  margin-top: 2rem;
}

.developer-info > .username {
  font-size: 1rem;
  font-weight: bold;
}

.developer-info > .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
}

.fab {
  font-size: 20px;
  margin: 0 5px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
